{% extends "base.html" %}

{% block page_content %}

    <h1 class="text-light bg-dark">Forest fire data</h1>

    <table class="table table-dark", border="1">
      <thead>
        <tr>
          <th>Month</th>
          <th>Day</th>
          <th>Temp</th>
          <th>Rel.hum.</th>
          <th>Wind</th>
          <th>Rain</th>
          <th>Area</th>
        </tr>
      </thead>
      <tbody>
    {% for d in data %}
    <tr>
        <td>{{d.month}} </td>
        <td>{{d.day}}</td>
        <td>{{d.temp}}</td>
        <td>{{d.relative_humidity}}</td>
        <td>{{d.wind}}</td>
        <td>{{d.rain}}</td>
        <td>{{d.area}}</td>

          </tr>

    {% endfor %}
      </tbody>
    </table>

{% endblock %}