{% extends "overview.html" %}

{% block page_content %}
<h1 class="text-light bg-dark">Overview</h1>


<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-md-auto">

  <form method="post">
    {% csrf_token %}
    <div class="form-group">

    <div class="btn-toolbar" role="toolbar" aria-label="Data sorted by month">
      <div class="btn-group-vertical" role="group" aria-label="First group">
        <button type="submit" class="btn btn-secondary" name="month" value="jan">Jan</button>
        <button type="submit" class="btn btn-secondary" name="month" value="feb">Feb</button>
        <button type="submit" class="btn btn-secondary" name="month" value="mar">Mar</button>
        <button type="submit" class="btn btn-secondary" name="month" value="apr">Apr</button>
        <button type="submit" class="btn btn-secondary" name="month" value="may">May</button>
        <button type="submit" class="btn btn-secondary" name="month" value="jun">Jun</button>
        <button type="submit" class="btn btn-secondary" name="month" value="jul">Jul</button>
        <button type="submit" class="btn btn-secondary" name="month" value="aug">Aug</button>
        <button type="submit" class="btn btn-secondary" name="month" value="sep">Sep</button>
        <button type="submit" class="btn btn-secondary" name="month" value="oct">Oct</button>
        <button type="submit" class="btn btn-secondary" name="month" value="nov">Nov</button>
        <button type="submit" class="btn btn-secondary" name="month" value="dec">Dec</button>
      </div>
        </div>
        </div>
  </form>

</div>


<div class="col align-self-start">

<h1 class="text-light bg-dark">Forest fire data</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Month</th>
          <th>Day</th>
          <th>Temp</th>
          <th>Relative humidity</th>
          <th>Wind</th>
          <th>Rain</th>
          <th>Area</th>
        </tr>
      </thead>
      <tbody>
    {% for d in data %}
    <tr>
        <td>{{d.month}} </td>
        <td>{{d.day}}</td>
        <td>{{d.temp}}</td>
        <td>{{d.relative_humidity}}</td>
        <td>{{d.wind}}</td>
        <td>{{d.rain}}</td>
        <td>{{d.area}}</td>

          </tr>

    {% endfor %}
      </tbody>
    </table>

</div>
    </div>
</div>



{% endblock %}